* {
    margin: 0;
    padding: 0;
    background-color: white;
}

.ui-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-text {
        margin-top: 20px;
    }
    
    &-logo {
        width: 200px;
    } 
}