.products_search{
    padding: 20px;
    display: flex;
    justify-content: center;
    input{
        width: 50%;
        border-radius: 5px;
        border: 1px solid gray;
        padding: 10px;
    }
}