.products__list-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: fit-content;
    border-radius: 5px;
    animation: fadein 1s;
    img{
        border-radius: 5px 5px 0 0;
    }
    &-info{
        padding: 10px;
        .title{
            margin-bottom: 4px;
        }
        .price{
            
        }
    }
}
.products__list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .products__list{
        padding: 20px;
        &-card{
            text-align: center;
            max-width: 300px;
            min-width: 300px;
            padding: 10px;
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}